<a href="{{url}}" class="prevnext-hover flex items-center justify-start col-span-6 py-8 {{class}}">
    <svg class="fill-current w-5 h-5 text-blue-500 {{svgClass}}" viewBox="0 0 48 48"><path fill="currentColor" d="M37.802 46.247L12.376 24 37.801 1.753A1 1 0 1 0 36.484.247l-26.286 23a1.004 1.004 0 0 0 .001 1.506l26.286 23a.997.997 0 0 0 1.411-.095 1 1 0 0 0-.094-1.411z"></path></svg>
    <div class="mf-4 flex-1">
        <h6 class="mt-0 text-sm text-gray-600">{{storyTitle}}</h6>
        <p class="text-blue-500 text-lg inline">{{title}}</p>
    </div>
</a>